#qna{
  display: none;
}

.qBox{
  background-color: whitesmoke;
  text-align: center;
  border-radius: 20px;
  font-size: 24px;
  width: 80%;
}

.answerList{
  background-color: whitesmoke;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 20px;
}

.answerList:hover, .answerList:focus{
  background-color: orange;
  font-size: 22px;
  line-height: 30px;
}

.status{
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar{
  height: 100%;
  border-radius: 20px;
  background-color: green;
}

.bottomBanner img{
  display: block;
  align-items: center;
  clear: both;
}


@media (max-width: 480px){
  .bottomBanner{
    display: none;
  }
}
