#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultName{
  font-size: 26px;
}

.resultDesc{
  font-size: 16px;
}

button.linkedin{
  background-color:steelblue;
  color: white;
  border: none;
  border-radius: 15px 35px;
  margin: 0px auto;
}

button.linkedin:hover{
  filter: brightness(103%);
  text-shadow: white 1px 1px 1px;
}
